*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color:#8bd7f5; */
  /* background-color: #03032e; */
}


.our_mission{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('./images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
}

.last_section_ourMission{
  border-bottom: 2px solid #307a97;
}

.values_our_care{
  border-radius: 20px;
   background: linear-gradient( rgba(0,255,255,0.1), rgba(255,255,255,0.1));
}

.lets_talk{
  background: linear-gradient( rgba(255,255,255,0.2), rgba(255,255,255,0.2));
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.image_div{
  background: linear-gradient( rgba(200, 255, 255, 0.2), rgba(0,0,0,0.5));
  box-shadow: 0px 4px 16px;  
}

.what_They_say_details{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../public/images/they_Say.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}